
            <section id="all-listings">
                <h1>Apartments for recents</h1>
                <div class="band">

                    <!-- If there are posts for wildlife in the database display each of them -->
                    {{#each products}}
                    {{> product}}
                    {{else}}
                    <div class="no-data-container">
                        <p class="no-data">There are no housing offers found...</p>
                    </div>
                    {{/each}}
                   
                </div>
            </section>